html,
body {
  height: 100%;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

body {
  background-image: url("/img/bg-new-edit.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; 
  position: relative;
}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  margin: 10%;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 850px;
  padding-bottom: 56.25rem;
}
.row div {
  color: gray;
  text-align: left;
  transition: background-color 1s;
}
.col-1 {
  flex: 50%;
  flex: 1;
}
.col-2 {
  flex: 50%;
  flex: 2;
}
.heading {
  padding-top: 80px;
}

.lead {
  padding-top: 30px;
  padding-bottom: 50px;
}
 .img-col {
   width: 500px;
   height: auto;
 }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}


